# build artifacts
build/obj/
build/*.exe
build/*.o
build/*.log
build/*.map
build/*.elf
build/*.hex
build/*.bin
build/run.out
build/run.err

# tooling
__pycache__/
*.pyc

# editor
.vscode/
.idea/
*.uvguix.*
